#hide-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(32, 32, 32);
    z-index: 99;
    cursor: pointer;
}

.a-row.a-size-base.a-color-secondary > span.a-color-base {
    color: transparent!important;
}

.installment-payment-buy-box-sub-header > .a-color-secondary > .a-color-price {
    color: transparent!important;
}

.installment-payment-buy-box-sub-header > .a-color-secondary > .a-nowrap {
    color: transparent!important;
}

#buyBoxAccordion .installment-payment-buy-box-sub-header .a-color-price {
    color: transparent!important;
}

.maple-banner span {
    color: transparent!important;
}
